.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {
    flex: 1;
}

.spacer {
    flex: 1 1 auto;
}

.active {
    background-color: #dcdcdc;
}

.primary-button {
    background-color: #3F51B5;
    color: white;
    border: none;
    cursor: pointer;
}

.myButton:focus{
    box-shadow: #3F51B5 !important;
    transition:none !important;
    background-color: #3F51B5 !important;
    -webkit-tap-highlight-color:#3F51B5 !important;
}

mat-sidenav {
    background-color: #495ccb;
}

mat-sidenav span {
    color: white;
}

